.coltene{
    width: 35%;
}
.espacio p{
    margin-left: 40%;
    font-weight: bold;
}

@media screen and (max-width:979px){
    .espacio{
        height: 10vh;
    }
}


.pie{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.ver h4{
    color: black;
}

.foo{
   /* background-color: black;*/
    width: 90%;
}
.ver{
    text-align: center;
    /*background-color: yellowgreen;*/
    width: 10%;
    color: rgb(7, 5, 5);
}
@media screen and (max-width: 979px) {
.foo{
    width: 70%;
}
.ver{
    width:30%;
}
.card-image .slider img{
    width: 46vh;
}

}

