@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
margin: 0;
padding:0;
}
body{
  background-image: url(../imagenes/f7.webp);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;/*para que quede fijo*/
}
.cuadro{
    margin: auto;
   /* border: 2px solid #000;*/
    margin-bottom: 2vh;
     display: flex;
}

.encabezado{
   /* overflow:hidden;*/
    width: 90%;
    /*float: left;*/
 /*  background-color: brown;*/
    height:auto;
}
/*BODY*/
.cuerpo{
    width: 95%;
   /*background-color: rgb(43, 155, 224);*/
   justify-content: center;
    height: 90vh;
}
.espacio{
width:90%;
/*background-color: rgb(43, 224, 43);*/
height: 11.4vh;

}

.paghome{
  width: 10%;
 /* background-color: rgb(201, 0, 0);*/
  display: block;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  font-weight: bold;
}
.home{
  width: 45px;
}

.wha{
  height: 90vh;
 /* background-color: blueviolet;*/
  width: 50%;
}

.tarjeta{
  width: 50%;
 /* background-color: gray;*/
  height: 90vh;
}

.card{
  font-size: large;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.card-body{
  height:100%;
  
}
.escan{
  margin-top: 4%;
  margin-bottom: 3%;
  height: 80%;
  
}
@media screen and (max-width: 979px) {

.espacio{
  width: 80%;
}

.ad{
  display: none;
}
.wha{
  display: none;
}

.tarjeta{
 /* background-color: chartreuse;*/
  width: 150%;
}
.escan{
  width: 100%;
}
}


/*BODY END*/
/*FOOTER*/
.pie{
    width: 95%;
 /* background-color: rgba(182, 179, 179, 0.589);*/
   height:auto;
   justify-content: center;
}