body{
    background-image: url(../imagenes/ver.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}
.cuerpo{
    justify-content: center;
}
.kuro{
    width: 28%;
    height: 58vh;
    background-color: rgba(0, 0, 0, 0.839);

}

.shiro{
    width: 35%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
